<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="style.css" />
    <title>Form</title>
  </head>
    <div class="container">
      <form action="https://formsubmit.co/andrea.glaus.realestate@gmail.com" method="POST" id="form1">
        <!-- Start Form 1 -->
        <h3 id="form-title">
          Spanischer Grundbuchauszug bestellen
        </h3>
        <div>
          <h4>Adresse der spanischen Immobilie</h4>
        </div>
        <div class="input-controll">
          <input name="Strasse" type="text" placeholder="Strasse" required/>
          <div class="required">
            <p id="input-validation-message"></p>
          </div>
        </div>
        <div class="half input-controll">
          <input name="Postleitzahl" type="text" placeholder="Postleitzahl" />
          <div class="error"></div>
        </div>
        <div class="half half-right input-controll">
          <input name="Ortschaft" type="text" placeholder="Ortschaft"/>
          <div class="error"></div>
        </div>
          <div class="input-controll">
          <input name="Eigentümer" type="text" placeholder="Name des Eigentümers" />
          <div id="box-position1">
            <img id="note-image1" src="note.svg" alt="exclamation">
            <div class="info-box">Wenn möglich, bitte angeben! <br><br>Die Angabe des vollständigen Namens des Eigentümers erhöht die Erfolgschancen der Bestellung erheblich.</div>
          </div>
        </div>
        <div class="input-controll">
          <input name="Bemerkungen" type="text" placeholder="Zusatzinformationen / Bemerkungen" />
        </div>
        <div class="btn-box">
          <button type="button" id="next1">Weiter</button>
        </div>
      </form>
<!-- Start Form 2 -->
      <form action="/" id="form2">
        <!-- What has to be written in action??? / or \ or something else?-->
        <h3 id="form-title">Spanischer Grundbuchauszug bestellen</h3>
        <div>
          <h4>Angaben des Bestellers</h4>
        </div>
        <div class="half input-controll">
          <input name="Vorname" type="text" placeholder="Vorname" />
          <div class="error"></div>
        </div>
        <div class="half half-right input-controll">
          <input name="Nachname" type="text" placeholder="Nachname"/>
          <div class="error"></div>
        </div>
          <div class="input-controll">
            <input name="E-mail" type="email" placeholder="E-mail" />
        </div>
        <div class="input-controll">
          <input name="Telefonnummer" type="tel" placeholder="Telefonnummer" />
        </div>
          <div class="input-controll">
            <input name="Ausweisnummer" type="text" placeholder="Ausweisnummer oder spanische NIE" />
          <div id="box-position2">
              <img id="note-image2" src="note.svg" alt="exclamation">
              <div class="info-box">Das spanische Grundbuch ist für jedermann/-frau öffentlich und frei zugänglich. Die einzige Bedingung ist, dass man sich mit einer Ausweisnummer und dem vollständigen Namen ausweist.</div>
            </div>
          </div>
        <div class="input-controll">
            <input name="Rechnungsvermerke" type="text" placeholder="Bemerkungen / Rechnungsvermerke" />
        </div>
        <div class="btn-box">
          <button type="button" id="back1">Zurück</button>
          <button type="button" id="next2">Weiter</button>
        </div>
      </form>
<!-- Start Form 3 -->
      <form action="/" id="form3">
        <!-- What has to be written in action??? / or \ or something else?-->
        <h3 id="form-title">Spanischer Grundbuchauszug bestellen</h3>
        <div>
          <h4>Bezahlung</h4>
        </div>
        <div>
          <input name="Check-Grundbuchauszug" type="checkbox" id="grundbuchauszug" name="grundbuchauszug" value="49.9">
          <label class="label-font" for="grundbuchauszug">49.90€ - Grundbuchauszug</label><br>
          <input name="Check-Katasterplan" type="checkbox" id="katasterplan" name="katasterplan" value="9.9">
          <label class="label-font" for="katasterplan" id="katasterplan-text">9.90€ - Katasterplan</label><br>
          <input name="Check-Inhaltslegende-DE" type="checkbox" id="inhaltslegende-deutsch" name="inhaltslegende-deutsch" value="59.9">
          <label class="label-font" for="inhaltslegende-deutsch">59.90€ - Inhaltslegende Deutsch</label><br>
          <input name="Check-Uebersetzung-EN" type="checkbox" id="uebersetzung-englisch" name="uebersetzung-englisch" value="79.9">
          <label class="label-font" for="uebersetzung-englisch">79.90€ - Übersetzung Englisch</label><br>
        </div>
        <div class="label-font total-font">
          <label class="total label-font">Total: <p class="total" id="total"></p> EUR</label>
        </div>
        <div>
          <input name="Zahlungsart-Kreditkarte" type="radio" id="kreditkarte" name="zahlungsart" value="kreditkarte">
          <label class="label-font" for="kreditkarte">Kreditkarte</label><br>
          <input name="Zahlungsart-Paypal" type="radio" id="paypal" name="zahlungsart" value="paypal">
          <label class="label-font" id="paypal">Paypal</label><br>
        </div>
                <div>
          <input name="AGB-Datenschutz-Akzeptiert" type="checkbox" id="agb" name="agb" value="agb">
          <div class="agb-text ">
          <label class="label-font" id="agb" for="agb"> Ich akzeptiere die <a href="https://www.spanien-grundbuchauszug.com/agbs/">allgemeinen Geschäftsbedingungen</a> und die <a href="https://www.spanien-grundbuchauszug.com/agbs/">Datenschutzbestimmungen</a>.</label><br>
          </div>
        </div>
        <div class="btn-box">
          <button type="button" id="back2">Zurück</button>
          <button type="submit">Bestellen</button>
        </div>
      </form>
      <div class="step-row">
        <div id="progress"></div>
        <div class="step-col"><small>Schritt 1</small></div>
        <div class="step-col"><small>Schritt 2</small></div>
        <div class="step-col"><small>Schritt 3</small></div>
      </div>
    </div>
    <script src="script.js"></script>
</html>